/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


$gutter: 1em;

$primary: #3483fa;
$secondary: #fafafa;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$info: #17a2b8;

$yellow: #fff159;

$colors: ();
$colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
   	"yellow":     $yellow
  ),
  $colors
);

@each $color, $value in $colors{
	.wp-mercadolibre-sync .color-#{$color}{
		color:$value;
	}
}

.wp-mercadolibre-sync{

	#wpcontent{  
	}
	#poststuff{ 
		padding-top: 0; 
	} 
	#post-body-content{
		padding-top: 10px;
		padding-left: 20px; 
		margin-bottom: 0px;
	}
}  

.wpmlsync__wrap{ 
}
.wpmlsync__button{
	padding:1em!important;
	border-radius:0!important;
	box-shadow:none!important;
	text-shadow:none!important;
	height: 48px!important;
	line-height: 1!important;
	font-size: 16px!important;
}
.wpmlsync__col_buttons{
	text-align:center;
	.wpmlsync__button{
		margin: 16px;
	}
}

.wpmlsync__msg{
	padding:1em!important;
	margin:1em auto;
	background-color:#f1f1f1;
} 

.wpmlsync__postbox-container{ 
 
} 
.wpmlsync__postbox-inner{ 
	padding:1em;
	background-color:#fff;  
	margin-bottom: 2em;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);

	.about-description {
	    font-size: 16px;
	    margin: 0;
	    color: #72777c;
	}
}
.wpmlsync__postbox-title{
	font-size: 20px!important;
	padding:0!important;
	position:relative;
	margin-bottom: 1em!important;
}
.wpmlsync__postbox-subtitle{
	font-size: 16px!important;
	padding:0!important;
	position:relative;
}


.wpmlsync__row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
}
.wpmlsync__col { 
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
} 

.wpmlsync__card{
  	padding: 20px;
 }

 .wpmlsync__control{
 	border-radius: 0;
 	padding:1em;
 	box-shadow: none!important;
 	width: 100%;
 }
 select.wpmlsync__control{
 	
 	    
  @media screen and (min-width: 781px){
		padding-left:1em!important;
		padding-right:1em!important;
		height: 49px;
  }
 }

 
.wpmlsync__admin_container {  
    margin-right: auto;
    margin-left: auto;
 
}
.wpmlsync__admin_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
}
.wpmlsync__admin_col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	flex: 0 0 100%;
	max-width: 100%;
	position: relative; 
  padding-right: $gutter;
  padding-left: $gutter;

}
.wpmlsync__admin_card{
	padding: $gutter;
	background-color:#fff;
}
@media only screen and (min-width: 850px){
	.w-100{
	width: 100%;
	}
	.w-50{
	flex: 0 0 50%;
	max-width: 50%;
	}
	.w-33{
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	}
	.w-66{ 
	flex: 0 0 66.666666%;
	max-width: 66.666666%;
	}
} 

 .wpmlsync__ul{ 
 	padding:0; 
 }

 .wpmlsync__badge{
 	padding:5px;
 	font-size:12px;
 	color:#fff;
 	&.primary{
 		background-color:var(--primary);
 	}
 	&.success{
 		background-color:var(--success);
 	}
 	&.danger{
 		background-color:var(--danger);
 	}
 }

 .status-badge{
 	position:absolute;
 	top:0;
 	right:0;
 }