/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wp-mercadolibre-sync .color-primary {
  color: #3483fa; }

.wp-mercadolibre-sync .color-secondary {
  color: #fafafa; }

.wp-mercadolibre-sync .color-success {
  color: #28a745; }

.wp-mercadolibre-sync .color-info {
  color: #17a2b8; }

.wp-mercadolibre-sync .color-warning {
  color: #ffc107; }

.wp-mercadolibre-sync .color-danger {
  color: #dc3545; }

.wp-mercadolibre-sync .color-yellow {
  color: #fff159; }

.wp-mercadolibre-sync #poststuff {
  padding-top: 0; }
.wp-mercadolibre-sync #post-body-content {
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 0px; }

.wpmlsync__button {
  padding: 1em !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  height: 48px !important;
  line-height: 1 !important;
  font-size: 16px !important; }

.wpmlsync__col_buttons {
  text-align: center; }
  .wpmlsync__col_buttons .wpmlsync__button {
    margin: 16px; }

.wpmlsync__msg {
  padding: 1em !important;
  margin: 1em auto;
  background-color: #f1f1f1; }

.wpmlsync__postbox-inner {
  padding: 1em;
  background-color: #fff;
  margin-bottom: 2em;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
  .wpmlsync__postbox-inner .about-description {
    font-size: 16px;
    margin: 0;
    color: #72777c; }

.wpmlsync__postbox-title {
  font-size: 20px !important;
  padding: 0 !important;
  position: relative;
  margin-bottom: 1em !important; }

.wpmlsync__postbox-subtitle {
  font-size: 16px !important;
  padding: 0 !important;
  position: relative; }

.wpmlsync__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.wpmlsync__col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.wpmlsync__card {
  padding: 20px; }

.wpmlsync__control {
  border-radius: 0;
  padding: 1em;
  box-shadow: none !important;
  width: 100%; }

@media screen and (min-width: 781px) {
  select.wpmlsync__control {
    padding-left: 1em !important;
    padding-right: 1em !important;
    height: 49px; } }

.wpmlsync__admin_container {
  margin-right: auto;
  margin-left: auto; }

.wpmlsync__admin_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.wpmlsync__admin_col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-right: 1em;
  padding-left: 1em; }

.wpmlsync__admin_card {
  padding: 1em;
  background-color: #fff; }

@media only screen and (min-width: 850px) {
  .w-100 {
    width: 100%; }

  .w-50 {
    flex: 0 0 50%;
    max-width: 50%; }

  .w-33 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .w-66 {
    flex: 0 0 66.666666%;
    max-width: 66.666666%; } }
.wpmlsync__ul {
  padding: 0; }

.wpmlsync__badge {
  padding: 5px;
  font-size: 12px;
  color: #fff; }
  .wpmlsync__badge.primary {
    background-color: var(--primary); }
  .wpmlsync__badge.success {
    background-color: var(--success); }
  .wpmlsync__badge.danger {
    background-color: var(--danger); }

.status-badge {
  position: absolute;
  top: 0;
  right: 0; }

/*# sourceMappingURL=wp-mercadolibre-sync-admin.css.map */
